#menu ul li{float: left; margin-left: 20px;}
h3,h4{margin-left: 10px;}
a{text-decoration: none;}
a:hover{text-decoration: underline;color: red;}
.home_navi{width: 140px;height: 100px;float:left;border-left:1px solid #E4E4E4;background-color: #fff;vertical-align: middle;}
.sub_navi{width:55px;height: 65px;margin:0 auto;margin-top: 20px; }
.sub_navi span{display: block;margin-top:5px;margin-left: 5px;}
.sub_navi img{margin-left: 5px;margin-top: 3px;}
#loginfo_list{height:260px;min-height: 260px;height: auto!important;width: 720px; float: left;}
loginfo_list_left{height:260px;min-height: 260px;height: auto!important;width: 720px; margin-bottom: 30px;}
.headImg{width: 85px;min-height: 70px;height:auto!important;float: left; position: absolute;}
.headImg img{margin:3px;width: 70px;height: 70px;border: 0 none;}
.imgdiv{display: none;width: 70px;height:60px;background-color:#fff;border-radius:5px;margin:-10px 3px 3px 3px;-webkit-box-shadow:0 0 10px 0 #aaa;-moz-box-shadow:0 0 10px 0 #aaa;}
.imgdiv ul{list-style: none;}
.imgdiv li{float:left; width: 60px;position: relative;margin-left: -40px;padding-left: 10px;padding-top:5px;font-size: 14px;}
.imgdiv li:hover{background-color: #eee;}
.imgdiv a{text-decoration: none;}
.imgdiv a:hover{}
.info
{
	width: 630px;
	float:right;
	background-color: #fff;
	height:260px;
	min-height: 260px;
	height: auto!important;
	border:1px solid #ccc;
	margin-bottom: 15px;
	border-radius:8px;
	-webkit-box-shadow:0 0 10px 0 #aaa;
	-moz-box-shadow:0 0 10px 0 #aaa;
	overflow: hidden;
 }
.message{
	background-color: #fff; 
	width: 615px;
	float:right;
	min-height: 100px;
	height:auto!important;
	border-radius:4px;
	-webkit-box-shadow:0 0 10px 0 #aaa;
	-moz-box-shadow:0 0 10px 0 #aaa;
	margin-bottom: 15px;
	overflow: hidden;
	padding: 5px;
	display: none;
}
 .comment_info{width: 630px;float:right;background-color: #FAFAFA;margin-top: -15px; margin-bottom: 15px; display: none;z-index: -1;border-top: 1px solid #E1E1E1;}
h3,h4{color:#454545;font-size: 14px;}
h4 a{color:#454545;}
h4 a:hover{text-decoration: none;color:#3FA7CB;}
.info_like,.info_tag{margin-bottom: 25px;margin-top: 10px;}
.info_like{color:#A9A9A9;font-size:14px;float: right;margin-right: 20px;}
.info_like li{margin-right: 15px;}
.info_like li img{width:14px;height:14px;}
.info_tag,.info_tag a{color:#3FA7CB;font-size:14px; float: left;}
.info_tag ul{margin-left: -15px;}
.info_tag li{margin-left: 15px;}
.info_detail{margin: 10px;font-size:16px;font-family:新宋体;line-height:25px;color:#454545;}
.info_detail img{width: 120px;height: 120px; margin: 10px;}
.info_detail img:hover{background:url(images/like2.gif);}
.loginfo_img{width:280px;height: 200px; float: left;}
.loginfo_img img{width:260px;height: 200px;padding: 10px;margin-top: -8px;}
.info_user{float: left;}
.info_time{float: right;}
.info_time,.info_user{margin:25px 15px;}
#center_content{width:980px;}
#top_navi{margin-top: -65px;width: 720px;height: 100px;border: 1px solid silver;float:left;z-index: 2;margin-bottom: 30px;}
#head_navi{float: left;width:156px;background-color:#F9F9F9;height:100px; }
#head_navi div{width:115px;height:115px;margin-top:-35px;margin-left:20px;background-color:#fff;}
#head_navi img{margin:3px;width: 110px;height: 110px;}
#user_setting{margin-top: -65px;width: 230px;height: 44px;border: 1px solid silver;float:right;background-color: #3DA8CC;color:#fff;font-size: 16px;}
#user_setting span{margin-left: 15px;margin-top: 20px;}
#qq_account_log{width:80px;height: 44px; line-height44px;float: right; border: 0px solid red;}
#left_navi{width: 230px;height: 355px;height:auto!important;border: 1px solid silver;float:right;margin-top: -130px;background-color: #F9F9F9;}
.left_navi_1{height: 60px;border-bottom: 1px dotted #ccc; }
.left_navi_1 span
{float:left;width:65px;height:60px;border-right: 1px solid #ccc;text-align:center;
}
.my_rec_sub,.rec_sub{padding: 0px;}
.my_rec_sub li,.rec_sub li{/*list-style:url("../images/mytags.gif");*/float: none;border-bottom: 1px solid #ccc;padding-bottom: 10px;width: 100%;padding-top: 5px;padding-left: -20px;}
.my_rec_sub li span,.rec_sub li span{margin-left: 15px;margin-right: 10px;}
.my_rec_sub li a,.rec_sub li a{float: right;margin-right: 10px;}
.my_rec_sub li{ background-color: #F9F9F9;}
#more_tags{background-color: #E1E1E1;color: #B5B5B5;padding: 10px 10px 0px 10px;}
#more_tags:hover{background-color: #F3F3F3;border:1px solid #ccc;padding: 10px 10px 0px 10px;}
/*加标签样式*/.addtags{width: 60px; height: 20px; border: 1px solid #3FA7CB; text-align: center;}
/*评论列表CSS*/
.comment_info{ background-color: #F1F1F1;width: 630px; margin:0px auto;height:auto!important; min-height:150px; margin-bottom:10px;}
/*热度值列表css*/
.hotList{display: none ;background-color: #F1F1F1;width: 630px; margin:0px auto;height:auto!important; min-height:150px; margin-bottom:10px;float: right;margin-top: -20px;}
.comment_info_input{ margin-top:10px; padding-top:0px;border:0px solid #CECECF; min-height:50px; height:auto!important; padding-bottom:5px;}
/*文本换行{word-wrap:break-word;word-break:break-all;*/
.comment_text{word-wrap:break-word;word-break:break-all;border:1px solid #CECECF; font-size:18px; margin-right:10px; resize:none;width:550px;maxwidth:550px;border-radius: 3px; border:1px solid #d2d2d2; box-shadow: 1px 1px 3px rgba(34, 25, 25, 0.2); padding: 5px;  min-height:50px; height:auto!important; background-color:#fff;}
.comment_text_div{ margin:25px;height:auto!important; min-height:50px;}
.comment_button,.addTagBut{ width:70px; height:35px; line-height:35px;background-color:#94B600; color:#FFFFFF;border:0px solid #EDEDEF;font-size:16px; font-family:微软雅黑; float:right; margin-right:40px; margin-top:-10px;}
.comment_position{width: 630px; height: 200px;min-height:45px;height:auto!important; margin-top: 13px;}
.back_comment{ height:25px; background-color:#FFFBF0; padding:10px;}
.comment_text:focus{-moz-box-shadow:0 0 6px rgba(0, 100, 255, .45); -webkit-box-shadow:0 0 6px rgba(0, 100, 255, .45); box-shadow:0 0 6px rgba(0, 100, 255, .45); border-color:#34538b;}
.comment_list{width:600px; min-height:45px; border-bottom:1px solid #D4BFFF; height:auto!important; padding:15px;}
.comment_list_headimg{float:left;}
.comment_list_headimg,.comment_list_headimg img{width:20px; height:20px;}
.comment_list_comment_info{width:400px; float:left; margin-left:10px;word-break:break-all;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; min-height:50px; color:#444444;}
.comment_list_reply{float:right; margin-right:25px;}


/*添加标签*/
.addTagss{ width: 630px;z-index: -1;;background-color: #FAFAFA;float: right;margin-top:-15px; padding-top:10px;border:0px solid #CECECF; min-height:50px; height:auto!important; padding-bottom:5px; margin-bottom: 15px;}
.addTagInput{margin-left: 15px;width: 490px; height: 35px;}
.addTagBut{margin-top: 5px;}
.XYTipsWindow .boxLoading { position: absolute; display: block; width: 90px; height: 30px; line-height: 30px; margin-left: -45px; margin-top: -15px; left: 50%; top: 50%; color: #f00; }
.XYTipsWindow .boxLoading { width:28px; margin-left: -14px; background:url("../images/loading.gif") no-repeat; text-indent: -999em; text-align: center; }
.XYTipsWindow .boxTitle, .XYTipsWindow .boxTitle span, .XYTipsWindow .boxTitle span.hover, .XYTipsWindow .loadinglayer, .XYTipsWindow .tipslayer, .XYTipsWindow .arrowLeft, .XYTipsWindow .colseBtn, .XYTipsWindow .boxError em, .XYTipsWindow .dialogBtn, .XYTipsWindow .dialogBtn.hover { background-image: url("../images/ico.png"); background-repeat: no-repeat; }
.XYTipsWindow .boxTitle { position: relative; border: 1px solid #A6C9E1; border-bottom: none; background-position: 0 0; background-repeat: repeat-x; height: 30px; line-height: 30px; }
.XYTipsWindow .boxTitle h3 { float: left; font-weight: normal; color: #666; font-size: 14px; margin: 0; text-indent: 10px; }
.XYTipsWindow .boxTitle span { position: absolute; width: 10px; background-position: -80px -40px; text-indent: -10em; right: 10px; top: 10px; height: 16px; overflow: hidden; cursor: pointer; }
.XYTipsWindow .boxTitle span.hover { background-position: -90px -40px; }
.XYTipsWindow .loadinglayer { line-height: 40px; background-position: 0 -100px!important; }
.XYTipsWindow .tipslayer { line-height: 20px; text-align: left; }
.XYTipsWindow .arrowLeft { position: absolute; width: 8px; height: 16px; background-position: -20px -170px; text-indent: -9999em; z-index: 20591; overflow: hidden; }
.XYTipsWindow .colseBtn { position: absolute; top: 5px; right: 5px; width: 8px; height: 8px; background-position: -55px -170px; text-indent: -9999em; cursor: pointer; z-index: 20591; overflow: hidden; }
.XYTipsWindow .boxError { position: absolute; left: 50%; top: 50%; margin-left: -60px; margin-top: -15px; width: 120px; height: 30px; line-height: 30px; color: #f00; }
.XYTipsWindow .boxError em { float: left; width:30px; height: 30px; background-position: -35px -140px; }
.XYTipsWindow .dialogBtn { margin: 5px 5px 0 0; width:80px; height:35px; background-position: 0 -30px; border:none; color:#333; }
.XYTipsWindow .dialogBtn.hover { background-position: 0 -65px; }
.XYTipsWindow.shadow { box-shadow:2px 2px 5px #C0BBB5; -moz-box-shadow: 2px 2px 5px #C0BBB5; -webkit-box-shadow:2px 2px 5px 

