*{margin: 0px;padding: 0px;}

body{font:12px/180% Arial,Lucida,Verdana,"ו",Helvetica,sans-serif;color:#333;}
h1{font-size:16px;}
h3{margin-left: 25px;}
#main{width: 980px; margin: 0px auto;background-color: #fff;margin-top: 100px;}

ul{list-style: none;}

#main li{float: none;margin-top: 20px;margin-left: 25px;padding-bottom: 10px;}
#main li a{text-decoration: none;color: #333;}
#main li a:hover{text-decoration: underline;color: red;}
#top{z-index: 2;line-height: 40px;position: absolute;position: fixed;height: 40px;background-color: #EEEEEE;width:100%;top:0px;left: 0px;}
#navi{width: 980px;margin: 0px auto;}
#navi a{color:#333;text-decoration: none;}
#navi a:hover{text-decoration: underline;}
#navi span{display: inline;float: left;margin-right: 25px;}


.separate-line{height:1px;background:url("../images/line-bg.png") repeat-x;margin-top: 15px;margin-bottom: 15px;}
.cls{clear: both;}