#menu ul li{float: left; margin-left: 20px;}
a{text-decoration: none;}
a:hover{text-decoration: underline;color: red;}
.home_navi{width: 140px;height: 100px;float:left;border-left:1px solid #E4E4E4;background-color: #fff;vertical-align: middle;}
.sub_navi{width:55px;height: 65px;margin:0 auto;margin-top: 20px; }
.sub_navi span{display: block;margin-top:5px;margin-left: 5px;}
.sub_navi img{margin-left: 5px;margin-top: 3px;}
#loginfo_list{height:260px;min-height: 260px;height: auto!important;width: 720px; float: left;}
loginfo_list_left{height:260px;min-height: 260px;height: auto!important;width: 720px; margin-bottom: 30px;}
.headImg{width: 85px;height: 70px;float: left;}
.headImg img{margin:3px;width: 70px;height: 70px;}
.info
{
	width: 630px;
	float:right;
	background-color: #fff;
	height:260px;
	min-height: 260px;
	height: auto!important;
	border:1px solid #ccc;
	margin-bottom: 15px;
	border-radius:8px;
	-webkit-box-shadow:0 0 10px 0 #aaa;
	-moz-box-shadow:0 0 10px 0 #aaa;
 }
 
h3{color:#454545;}
.info_like,.info_tag{margin-bottom: 25px;margin-top: 10px;}
.info_like{color:#A9A9A9;font-size:14px;float: right;margin-right: 20px;}
.info_like li{margin-right: 15px;}
.info_tag{color:#3FA7CB;font-size:14px; float: left;}
.info_tag ul{margin-left: -15px;}
.info_tag li{margin-left: 15px;}
.info_detail{margin: 10px;font-size:16px;font-family:ÐÂËÎÌå;line-height:22px;color:#454545;}
.info_detail img{width: 120px;height: 120px; margin: 10px;}
.loginfo_img{width:280px;height: 200px; float: left;}
.loginfo_img img{width:260px;height: 200px;padding: 10px;}
.info_user{float: left;}
.info_time{float: right;}
.info_time,.info_user{margin:25px 15px;}
#center_content{width:980px;}
#top_navi{margin-top: -65px;width: 720px;height: 100px;border: 1px solid silver;float:left;z-index: 2;margin-bottom: 30px;}
#head_navi{float: left;width:156px;background-color:#F9F9F9;height:100px; }
#head_navi div{width:115px;height:115px;margin-top:-35px;margin-left:20px;background-color:#fff;}
#head_navi img{margin:3px;width: 110px;height: 110px;}
#user_setting{margin-top: -65px;width: 230px;height: 44px;border: 1px solid silver;float:right;background-color: #3DA8CC;color:#fff;}
#left_navi{width: 230px;height: 355px;height:auto!important;border: 1px solid silver;float:right;margin-top: -130px;background-color: #F9F9F9;}
.left_navi_1{height: 60px;border-bottom: 1px dotted #ccc; }
.left_navi_1 span
{float:left;width:65px;height:60px;border-right: 1px solid #ccc;text-align:center;
}
.my_rec_sub li,.rec_sub li{list-style:url("../images/mytags.gif");float: none;border-bottom: 1px solid #ccc;padding-bottom: 10px;width: 100%;padding-top: 5px;padding-left: -20px;}
.my_rec_sub li{ background-color: #F9F9F9;}
#more_tags{background-color: #E1E1E1;color: #B5B5B5;padding: 10px 10px 0px 10px;}
#more_tags:hover{background-color: #F3F3F3;border:1px solid #ccc;padding: 10px 10px 0px 10px;}